<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @scholarship.id %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @scholarship.sponsor_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @scholarship.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scholarship.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @scholarship.amount %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @scholarship.expiration_date %>
</p>

<%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Back', scholarships_path %>
<div>
<%= link_to 'Apply for this Scholarship'%>
